
<ion-tabs>
  <ion-tab-bar slot="bottom" color="success">

    <ion-tab-button tab="inicio">
      <ion-label>Início</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="especiais">
      <ion-label>Times Especiais</ion-label>
      <ion-icon name="footsteps-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="ataque">
      <ion-icon name="american-football-outline"></ion-icon>
      <ion-label>Ataque</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="defesa">
      <ion-icon name="american-football-outline"></ion-icon>
      <ion-label>Defesa</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>

