<ion-header>
  <ion-toolbar>
    <ion-buttons slot ="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Poisções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-text><h5>No futebol americano, cada jogador exerce uma função dentro de campo, sendo em sua grande maioria
          em um time específico(ataque,defesa ou times especiais). Cada função tem seu nome e função própria em campo.
         </h5></ion-text>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-text><h2>Ataque</h2></ion-text>
      </ion-row>
    </ion-col>
    <ion-list>
      <ion-item>
        <ion-label>Quaterback</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Wide Reciver</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Runningback</ion-label>
      </ion-item>
    </ion-list>
    <ion-col>
      <ion-row>
        <ion-text><h2>Defesa</h2></ion-text>
      </ion-row>
    </ion-col>
    <ion-list>
      <ion-item>
        <ion-label>Cornerback</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Linebacker</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Edge Rusher</ion-label>
      </ion-item>
    </ion-list>
    <ion-col>
      <ion-row>
        <ion-text><h2>Times Especiais</h2></ion-text>
      </ion-row>
    </ion-col>
    <ion-list>
      <ion-item>
        <ion-label>Kicker</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Punter</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Long Snaper</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>

</ion-content>


