<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Guia de Futebol Americano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
       <ion-text><h5>O futebol americano ou simplesmente football, como é conhecido nos Estados Unidos, é um esporte competitivo
        de equipe, cada qual composta de 11 jogadores em cada lado. É um jogo que demanda velocidade, agilidade,
         capacidade tática e força dos jogadores que se empurram, bloqueiam, perseguem uns aos outros tentando
         fazer avançar uma bola em território inimigo durante uma hora de tempo de jogo.</h5>
          </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text><p>Esse app serve como um guia para atletas e amantes do esporte, feito com maneira didática,
          para aumentar o conhecimento a respeito do esporte.</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
