<ion-header>
  <ion-toolbar>
    <ion-buttons slot ="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedDefTatica?.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-paddind>
        <ion-img [src]="loadedDefTatica?.imagem"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 text-center></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text><h5>{{ loadedDefTatica?.texto }}</h5></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
