<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Time de Ataque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card style="height:130%">
    <ion-row>
      <ion-col>
        <ion-text><h5>O time de ataque é responsavel pela parte ofensiva do time, tem como objetivo pontuar na partida,
          é composta pelos jogadores mais ageis da equipe.</h5>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-col>
      <ion-row>
        <ion-text><h1>Conceitos</h1></ion-text>
      </ion-row>
    </ion-col>
      <ion-list>
        <ion-item *ngFor ="let tatica of taticas" [routerLink] = "['./', tatica.id]">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          <ion-label>{{tatica.titulo}}</ion-label>
        </ion-item>
      </ion-list>
  </ion-card>
</ion-content>
